@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans-Regular.ttf');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  text-decoration: none;
}
body {
  line-height: 1;
  font-family: 'NotoSans';
  background: url('../img/bg2.jpg') no-repeat center top;
  min-width: 1260px;
  font-size: 14px;
}
body#index {
  background: url('../img/bg.jpg') no-repeat center top;
}
body#index #wrapper {
  background: url('../img/bg.jpg') no-repeat center top;
}
html,
body {
  height: 100%;
}
.clear {
  clear: both;
}
#wrapper {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/bg2.jpg') no-repeat center top;
  min-height: 100%;
}
#wrapper header {
  position: relative;
  min-height: 310px;
}
#wrapper header #logo {
  position: absolute;
  display: block;
  width: 520px;
  height: 200px;
  right: 25px;
  top: 30px;
  background: url('../img/logo.png') no-repeat;
}
#wrapper header #feedbacktop {
  position: absolute;
  right: 270px;
  top: 10px;
  padding-top: 5px;
  height: 20px;
  font-size: 13px;
  padding-left: 20px;
  background: url('../img/p1.png') no-repeat left center;
  color: #ff5300;
  opacity: 0.7;
}
#wrapper header #feedbacktop:hover {
  opacity: 1;
}
#wrapper header #contactstop {
  position: absolute;
  right: 20px;
  top: 210px;
  text-align: right;
}
#wrapper header #contactstop .addr {
  font-size: 16px;
  line-height: 17px;
  color: #cc1c1c;
  margin-bottom: 10px;
}
#wrapper header #contactstop .shed {
  font-size: 12px;
  color: #066697;
}
#wrapper header #menutop {
  position: absolute;
  top: 259px;
  left: 50px;
}
#wrapper header #menutop ul {
  position: relative;
  height: 54px;
}
#wrapper header #menutop ul li {
  display: inline-block;
  vertical-align: top;
}
#wrapper header #menutop ul li a {
  position: absolute;
  top: -8px;
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  vertical-align: 24px;
}
#wrapper header #menutop ul li a p {
  margin-top: 20px;
}
#wrapper header #menutop ul li .top-1 {
  left: -43px;
  width: 126px;
  height: 54px;
}
#wrapper header #menutop ul li .top-1:hover {
  background: url('../img/t1h.png') no-repeat;
}
#wrapper header #menutop ul li .top-2 {
  left: 72px;
  width: 118px;
  height: 54px;
}
#wrapper header #menutop ul li .top-2:hover {
  background: url('../img/t2h.png') no-repeat;
}
#wrapper header #menutop ul li .top-3 {
  left: 178px;
  width: 95px;
  height: 54px;
}
#wrapper header #menutop ul li .top-3:hover {
  background: url('../img/t3h.png') no-repeat;
}
#wrapper header #menutop ul li .top-4 {
  left: 262px;
  width: 84px;
  height: 54px;
}
#wrapper header #menutop ul li .top-4:hover {
  background: url('../img/t4h.png') no-repeat;
}
#wrapper header #menutop ul li .top-5 {
  left: 335px;
  width: 114px;
  height: 54px;
}
#wrapper header #menutop ul li .top-5:hover {
  background: url('../img/t5h.png') no-repeat;
}
#wrapper header #menutop ul li .top-6 {
  left: 438px;
  width: 178px;
  height: 54px;
}
#wrapper header #menutop ul li .top-6:hover {
  background: url('../img/t6h.png') no-repeat;
}
#wrapper header #slider-wrapper {
  position: absolute;
  width: 717px;
  height: 235px;
  left: 62px;
  top: 13px;
}
#wrapper header #slider-wrapper #slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#wrapper header #slider-wrapper #slider .slide img {
  width: 717px;
  height: 255px;
}
#wrapper header #slider-wrapper #slider .slide .slide-inner {
  position: relative;
  width: 717px;
  height: 235px;
}
#wrapper header #slider-wrapper #slider .slide .slide-inner .slide-block-wrapper {
  position: absolute;
  right: 50px;
  background: url('../img/bgslideblock.png') no-repeat;
  width: 327px;
  height: 139px;
  top: -180px;
}
#wrapper header #slider-wrapper #slider .slide .slide-inner .slide-block-wrapper .slide-block {
  padding: 8px 0 5px 10px;
  width: 250px;
}
#wrapper header #slider-wrapper #slider .slide .slide-inner .slide-block-wrapper .slide-block h1 {
  font-size: 22px;
  color: #660000;
}
#wrapper header #slider-wrapper #slider .slide .slide-inner .slide-block-wrapper .slide-block .text-block {
  height: 40px;
  overflow: hidden;
  margin-top: 8px;
}
#wrapper header #slider-wrapper #slider .slide .slide-inner .slide-block-wrapper .slide-block .text-block p {
  font-size: 13px;
  color: #660000;
}
#wrapper header #slider-wrapper #slider .slide .slide-inner .slide-block-wrapper .slide-block .more {
  font-size: 13px;
  color: #ff6800;
}
#wrapper header #slider-wrapper #slider .slide .slide-inner .slide-block-wrapper .slide-block .more:hover {
  color: #cc5300;
}
#wrapper header #slider-wrapper #prev,
#wrapper header #slider-wrapper #next,
#wrapper header #slider-wrapper .nav {
  background: url('../img/slider-sprites.png') no-repeat top left;
}
#wrapper header #slider-wrapper #prev {
  position: absolute;
  width: 49px;
  height: 49px;
  display: block;
  background-position: -83px 0;
  left: -10px;
  top: 50%;
  margin-top: -25px;
}
#wrapper header #slider-wrapper #prev:hover {
  background-position: -34px 0;
}
#wrapper header #slider-wrapper #next {
  position: absolute;
  width: 49px;
  height: 49px;
  display: block;
  background-position: -181px 0;
  right: 85px;
  top: 50%;
  margin-top: -25px;
}
#wrapper header #slider-wrapper #next:hover {
  background-position: -132px 0;
}
#wrapper header #slider-wrapper #slider-nav {
  position: absolute;
  bottom: -10px;
  right: 165px;
}
#wrapper header #slider-wrapper #slider-nav li {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  background-position: -17px 0;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
}
#wrapper header #slider-wrapper #slider-nav li.active {
  background-position: 0 0;
}
#wrapper #content #contacts .c-logo-small {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 103px;
  height: 97px;
  background: url('../img/bgcontacts.png') no-repeat;
}
#wrapper #content #contacts h1 {
  text-align: center;
  color: #f68018;
  font-size: 20px;
  margin-top: 40px;
}
#wrapper #content #services {
  min-height: 780px;
}
#wrapper #content #about {
  min-height: 780px;
}
#wrapper #content #about .h-logo-small {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 103px;
  height: 97px;
  background: url('../img/bghistory.png') no-repeat;
}
#wrapper #content #about h1 {
  text-align: center;
  color: #f68018;
  font-size: 20px;
  margin-top: 40px;
}
#wrapper #content #about .textblock {
  margin-top: 25px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#wrapper #content #about .textblock img {
  margin-left: 15px;
  margin-right: 15px;
  float: left;
}
#wrapper #content #about .textblock p {
  color: #c48168;
  font-style: 14px;
  line-height: 16px;
  text-align: center;
  margin: 5px 0;
}
#wrapper #content #infoblock-main {
  padding-top: 35px;
  text-align: center;
}
#wrapper #content #infoblock-main h1 {
  font-size: 30px;
  color: #000000;
  margin-bottom: 20px;
}
#wrapper #content #infoblock-main .text-block {
  padding: 0 170px;
}
#wrapper #content #infoblock-main .text-block p {
  color: #000000;
  font-size: 14px;
  line-height: 22px;
}
#wrapper #content #infoblock-main a.history {
  margin-top: 30px;
  display: block;
  width: 185px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/bgbtn1.png') no-repeat;
}
#wrapper #content #infoblock-main a.history:hover {
  opacity: 0.9;
}
#wrapper #content #services-main,
#wrapper #content #services {
  padding-bottom: 60px;
}
#wrapper #content #services-main #services-wrapper-main,
#wrapper #content #services #services-wrapper-main {
  position: relative;
  min-height: 655px;
}
#wrapper #content #services-main .s,
#wrapper #content #services .s {
  position: absolute;
  display: block;
}
#wrapper #content #services-main .s:hover,
#wrapper #content #services .s:hover {
  opacity: 0.85;
}
#wrapper #content #services-main .s-logo-small,
#wrapper #content #services .s-logo-small {
  width: 97px;
  height: 96px;
  background: url('../img/bgservices.png') no-repeat;
  top: 93px;
  left: 581px;
}
#wrapper #content #services-main .s-logo,
#wrapper #content #services .s-logo {
  width: 334px;
  height: 331px;
  background: url('../img/bgsl.png') no-repeat;
  top: 240px;
  left: 463px;
}
#wrapper #content #services-main .s-logo:hover,
#wrapper #content #services .s-logo:hover,
#wrapper #content #services-main .s.s-logo-small,
#wrapper #content #services .s.s-logo-small {
  opacity: 1;
}
#wrapper #content #services-main .s-1,
#wrapper #content #services .s-1 {
  background: url('../img/bgs1.png') no-repeat;
  width: 132px;
  height: 131px;
  top: 145px;
  left: 25px;
}
#wrapper #content #services-main .s-2,
#wrapper #content #services .s-2 {
  background: url('../img/bgs2.png') no-repeat;
  width: 143px;
  height: 142px;
  top: 211px;
  left: 194px;
}
#wrapper #content #services-main .s-3,
#wrapper #content #services .s-3 {
  background: url('../img/bgs3.png') no-repeat;
  width: 127px;
  height: 126px;
  top: 143px;
  left: 401px;
}
#wrapper #content #services-main .s-4,
#wrapper #content #services .s-4 {
  background: url('../img/bgs4.png') no-repeat;
  width: 157px;
  height: 155px;
  top: 156px;
  left: 757px;
}
#wrapper #content #services-main .s-5,
#wrapper #content #services .s-5 {
  background: url('../img/bgs5.png') no-repeat;
  width: 177px;
  height: 176px;
  top: 149px;
  left: 1055px;
}
#wrapper #content #services-main .s-6,
#wrapper #content #services .s-6 {
  background: url('../img/bgs6.png') no-repeat;
  width: 143px;
  height: 142px;
  top: 395px;
  left: 89px;
}
#wrapper #content #services-main .s-7,
#wrapper #content #services .s-7 {
  background: url('../img/bgs7.png') no-repeat;
  width: 133px;
  height: 132px;
  top: 393px;
  left: 292px;
}
#wrapper #content #services-main .s-8,
#wrapper #content #services .s-8 {
  background: url('../img/bgs8.png') no-repeat;
  width: 165px;
  height: 164px;
  top: 295px;
  left: 899px;
}
#wrapper #content #services-main .s-9,
#wrapper #content #services .s-9 {
  background: url('../img/bgs9.png') no-repeat;
  width: 134px;
  height: 133px;
  top: 525px;
  left: 360px;
}
#wrapper #content #services-main .s-10,
#wrapper #content #services .s-10 {
  background: url('../img/bgs10.png') no-repeat;
  width: 118px;
  height: 117px;
  top: 492px;
  left: 806px;
}
#wrapper #content #services-main .s-11,
#wrapper #content #services .s-11 {
  background: url('../img/bgs11.png') no-repeat;
  width: 134px;
  height: 133px;
  top: 430px;
  left: 1105px;
}
#wrapper #content #services-main a.services,
#wrapper #content #services a.services {
  display: block;
  width: 185px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/bgbtn2.png') no-repeat;
}
#wrapper #content #services-main a.services:hover,
#wrapper #content #services a.services:hover {
  opacity: 0.9;
}
#wrapper #content #team-main {
  padding-top: 66px;
  padding-bottom: 55px;
}
#wrapper #content #team-main .t-logo-small {
  width: 133px;
  height: 97px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/bgteam.png') no-repeat;
  margin-bottom: 40px;
}
#wrapper #content #team-main #team-main-wrapper .team-block {
  position: relative;
  float: left;
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 15px;
  vertical-align: top;
  width: 395px;
  height: 173px;
  background: url('../img/bgteamblock.png') no-repeat;
}
#wrapper #content #team-main #team-main-wrapper .team-block img {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 146px;
  height: 148px;
}
#wrapper #content #team-main #team-main-wrapper .team-block .text-block {
  padding-left: 140px;
  padding-top: 20px;
}
#wrapper #content #team-main #team-main-wrapper .team-block .text-block .title {
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 10px;
}
#wrapper #content #team-main #team-main-wrapper .team-block .text-block .desc {
  height: 50px;
  overflow: hidden;
}
#wrapper #content #team-main #team-main-wrapper .team-block .text-block .desc p {
  font-size: 12px;
  color: #ffffff;
}
#wrapper #content #team-main #team-main-wrapper .team-block .text-block .more {
  margin-top: 10px;
  width: 116px;
  height: 36px;
  display: block;
  background: url('../img/bgbtnt.png') no-repeat;
  opacity: 0.9;
}
#wrapper #content #team-main #team-main-wrapper .team-block .text-block .more:hover {
  opacity: 1;
}
#wrapper #content #team-main a.team {
  margin-top: 20px;
  display: block;
  width: 185px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/bgbtn3.png') no-repeat;
}
#wrapper #content #team-main a.team:hover {
  opacity: 0.9;
}
#wrapper footer {
  position: relative;
  min-height: 460px;
  padding-top: 52px;
  padding-bottom: 70px;
}
#wrapper footer #logobottom {
  display: block;
  width: 520px;
  height: 200px;
  background: url('../img/logo.png') no-repeat;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
}
#wrapper footer .social {
  position: absolute;
  top: 220px;
  left: 673px;
}
#wrapper footer .social a {
  display: inline-block;
  vertical-align: top;
  margin-right: 1px;
  width: 32px;
  height: 32px;
  opacity: 0.9;
}
#wrapper footer .social a:hover {
  opacity: 1;
}
#wrapper footer .social .vk {
  background: url('../img/vk.png') no-repeat;
}
#wrapper footer .social .od {
  background: url('../img/od.png') no-repeat;
}
#wrapper footer .social .fb {
  background: url('../img/fb.png') no-repeat;
}
#wrapper footer .social .tw {
  background: url('../img/tw.png') no-repeat;
}
#wrapper footer .social .gp {
  background: url('../img/gp.png') no-repeat;
}
#wrapper footer .social .email {
  background: url('../img/email.png') no-repeat;
}
#wrapper footer #menubottom-1 {
  float: left;
  margin-left: 170px;
}
#wrapper footer #menubottom-1 .title {
  font-size: 16px;
  color: #033b58;
  margin-bottom: 10px;
}
#wrapper footer #menubottom-1 ul li {
  margin-bottom: 6px;
}
#wrapper footer #menubottom-1 ul li a {
  font-size: 12px;
  color: #066697;
}
#wrapper footer #menubottom-1 ul li a:hover,
#wrapper footer #menubottom-1 ul li a.current {
  color: #cc1c1c;
}
#wrapper footer #menubottom-2 {
  float: left;
  margin-left: 78px;
}
#wrapper footer #menubottom-2 .title {
  font-size: 16px;
  color: #033b58;
  margin-bottom: 10px;
}
#wrapper footer #menubottom-2 ul {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  width: 220px;
}
#wrapper footer #menubottom-2 ul li {
  margin-bottom: 6px;
}
#wrapper footer #menubottom-2 ul li a {
  font-size: 12px;
  color: #066697;
}
#wrapper footer #menubottom-2 ul li a:hover,
#wrapper footer #menubottom-2 ul li a.current {
  color: #cc1c1c;
}
#wrapper footer #hodlogo {
  float: left;
  display: block;
  width: 96px;
  height: 64px;
  margin-left: 70px;
  background: url('../img/hodlogo.png') no-repeat;
  margin-top: 33px;
}
#wrapper footer #copyrights {
  text-align: center;
  margin-top: 45px;
}
#wrapper footer #copyrights p {
  font-size: 12px;
  color: #066697;
}
