@font-face {
	font-family: 'NotoSans';
	src: url('../fonts/NotoSans-Regular.ttf');
}

//css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}
a {
	text-decoration: none;
}
body {
	line-height: 1;
	font-family: 'NotoSans';
    background: url('../img/bg2.jpg') no-repeat center top;
    min-width: 1260px;
    font-size: 14px;
}
body#index {
  background: url('../img/bg.jpg') no-repeat center top;

  #wrapper {
    background: url('../img/bg.jpg') no-repeat center top;
  }
}
html, body {
  height: 100%;
}
.clear {
	clear: both;
}
#wrapper {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
  background: url('../img/bg2.jpg') no-repeat center top;
  min-height: 100%;

  header {
    position: relative;
    min-height: 310px;

    #logo {
      position: absolute;
      display: block;
      width: 520px;
      height: 200px;
      right: 25px;
      top: 30px;
      background: url('../img/logo.png') no-repeat;
    }
    #feedbacktop  {
      position: absolute;
      right: 270px;
      top: 10px;
      padding-top: 5px;
      height: 20px;
      font-size: 13px;
      padding-left: 20px;
      background: url('../img/p1.png') no-repeat left center;
      color: #ff5300;
      opacity: 0.7;
    }
    #feedbacktop:hover {
      opacity: 1;
    }
    #contactstop {
      position: absolute;
      right: 20px;
      top: 210px;
      text-align: right;

      .addr {
        font-size: 16px;
        line-height: 17px;
        color: #cc1c1c;
        margin-bottom: 10px;
      }
      .shed {
        font-size: 12px;
        color: #066697;
      }
    }
    #menutop {
      position: absolute;
      top: 259px;
      left: 50px;

      ul {
        position: relative;
        height: 54px;

        li {
          display: inline-block;
          vertical-align: top;
          //margin-right: 21px;

          a {
            position: absolute;
            top: -8px;
            font-size: 14px;
            color: #ffffff;
            display: inline-block;
            text-align: center;
            vertical-align: 24px;


            p {
              margin-top: 20px;
            }
          }
          .top-1 {
            left: -43px;
            width: 126px;
            height: 54px;
          }
          .top-1:hover {
            background: url('../img/t1h.png') no-repeat;
          }
          .top-2 {
            left: 72px;
            width: 118px;
            height: 54px;
          }
          .top-2:hover {
            background: url('../img/t2h.png') no-repeat;
          }
          .top-3 {
            left: 178px;
            width: 95px;
            height: 54px;
          }
          .top-3:hover {
            background: url('../img/t3h.png') no-repeat;
          }
          .top-4 {
            left: 262px;
            width: 84px;
            height: 54px;
          }
          .top-4:hover {
            background: url('../img/t4h.png') no-repeat;
          }
          .top-5 {
            left: 335px;
            width: 114px;
            height: 54px;
          }
          .top-5:hover {
            background: url('../img/t5h.png') no-repeat;
          }
          .top-6 {
            left: 438px;
            width: 178px;
            height: 54px;
          }
          .top-6:hover {
            background: url('../img/t6h.png') no-repeat;
          }
        }
      }
    }
    #slider-wrapper {
      position: absolute;
      width: 717px;
      height: 235px;
      left: 62px;
      top: 13px;

      #slider {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .slide {

          img {
            width: 717px;
            height: 255px;
          }
          .slide-inner {
            position: relative;
            width: 717px;
            height: 235px;

            .slide-block-wrapper {
              position: absolute;
              right: 50px;
              background: url('../img/bgslideblock.png') no-repeat;
              width: 327px;
              height: 139px;
              top: -180px;

              .slide-block {
                padding: 8px 0 5px 10px;
                width: 250px;

                h1 {
                  font-size: 22px;
                  color: #660000;
                }
                .text-block {
                  height: 40px;
                  overflow: hidden;
                  margin-top:8px;

                  p {
                    font-size: 13px;
                    color: #660000;
                  }
                }
                .more {
                  font-size: 13px;
                  color: #ff6800;
                }
                .more:hover {
                  color: darken(#ff6800, 10%);
                }
              }
            }
          }
        }
      }
      #prev, #next, .nav {
        background: url('../img/slider-sprites.png') no-repeat top left;
      }
      #prev {
        position: absolute;
        width: 49px;
        height: 49px;
        display: block;
        background-position: -83px 0;
        left: -10px;
        top: 50%;
        margin-top: -25px;
      }
      #prev:hover {
        background-position: -34px 0;
      }
      #next {
        position: absolute;
        width: 49px;
        height: 49px;
        display: block;
        background-position: -181px 0;
        right: 85px;
        top: 50%;
        margin-top: -25px;
      }
      #next:hover {
        background-position: -132px 0;
      }
      #slider-nav {
        position: absolute;
        bottom: -10px;
        right: 165px;

        li {
          display: inline-block;
          vertical-align: top;
          margin-right: 5px;
          background-position: -17px 0;
          width: 16px;
          height: 16px;
          text-indent: -9999px;
        }
        li.active {
          background-position: 0 0;
        }
      }
    }
  }
  #content {

    #contacts {

      .c-logo-small {
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
        width: 103px;
        height: 97px;
        background: url('../img/bgcontacts.png') no-repeat;
      }
      h1 {
        text-align: center;
        color: #f68018;
        font-size: 20px;
        margin-top: 40px;
      }
    }    
    #services {
      min-height: 780px;
    }
    #about {
      min-height: 780px;

      .h-logo-small {
        margin-top: 45px;
        margin-left: auto;
        margin-right: auto;
        width: 103px;
        height: 97px;
        background: url('../img/bghistory.png') no-repeat;
      }
      h1 {
        text-align: center;
        color: #f68018;
        font-size: 20px;
        margin-top: 40px;
      }
      .textblock {
        margin-top: 25px;
        width: 960px;
        margin-left: auto;
        margin-right: auto;

        img {
          margin-left: 15px;
          margin-right: 15px;
          float: left;
        }
        p {
          color: #c48168;
          font-style: 14px;
          line-height: 16px;
          text-align: center;
          margin: 5px 0;
        }
      }
    }
    #infoblock-main {
      padding-top: 35px;
      text-align: center;

      h1 {
        font-size: 30px;
        color: #000000;
        margin-bottom: 20px;
      }
      .text-block {
        padding: 0 170px;

        p {
          color: #000000;
          font-size: 14px;
          line-height: 22px;
        }
      }
      a.history {
        margin-top: 30px;
        display: block;
        width: 185px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        background: url('../img/bgbtn1.png') no-repeat;
      }
      a.history:hover {
        opacity: 0.9;
      }
    }
    #services-main, #services {
      padding-bottom: 60px;

      #services-wrapper-main {
        position: relative;
        min-height: 655px;
      }

      .s {
        position: absolute;
        display: block;
      }
      .s:hover {
        opacity: 0.85;
      }
      .s-logo-small {
        width: 97px;
        height: 96px;
        background: url('../img/bgservices.png') no-repeat;
        top: 93px;
        left: 581px;
      }
      .s-logo {
        width: 334px;
        height: 331px;
        background: url('../img/bgsl.png') no-repeat;
        top: 240px;
        left: 463px;
      }
      .s-logo:hover, .s.s-logo-small {
        opacity: 1;
      }
      .s-1 {
        background: url('../img/bgs1.png') no-repeat;
        width: 132px;
        height: 131px;
        top: 145px;
        left: 25px;
      }
      .s-2 {
        background: url('../img/bgs2.png') no-repeat;
        width: 143px;
        height: 142px;
        top: 211px;
        left: 194px;
      }
      .s-3 {
        background: url('../img/bgs3.png') no-repeat;
        width: 127px;
        height: 126px;
        top: 143px;
        left: 401px;
      }
      .s-4 {
        background: url('../img/bgs4.png') no-repeat;
        width: 157px;
        height: 155px;
        top: 156px;
        left: 757px;
      }
      .s-5 {
        background: url('../img/bgs5.png') no-repeat;
        width: 177px;
        height: 176px;
        top: 149px;
        left: 1055px;
      }
      .s-6 {
        background: url('../img/bgs6.png') no-repeat;
        width: 143px;
        height: 142px;
        top: 395px;
        left: 89px;
      }
      .s-7 {
        background: url('../img/bgs7.png') no-repeat;
        width: 133px;
        height: 132px;
        top: 393px;
        left: 292px;
      }
      .s-8 {
        background: url('../img/bgs8.png') no-repeat;
        width: 165px;
        height: 164px;
        top: 295px;
        left: 899px;
      }
      .s-9 {
        background: url('../img/bgs9.png') no-repeat;
        width: 134px;
        height: 133px;
        top: 525px;
        left: 360px;
      }
      .s-10 {
        background: url('../img/bgs10.png') no-repeat;
        width: 118px;
        height: 117px;
        top: 492px;
        left: 806px;
      }
      .s-11 {
        background: url('../img/bgs11.png') no-repeat;
        width: 134px;
        height: 133px;
        top: 430px;
        left: 1105px;
      }
      a.services {
        display: block;
        width: 185px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        background: url('../img/bgbtn2.png') no-repeat;
      }
      a.services:hover {
        opacity: 0.9;
      }
    }
    #team-main {
      padding-top: 66px;
      padding-bottom: 55px;

      .t-logo-small {
        width: 133px;
        height: 97px;
        margin-left: auto;
        margin-right: auto;
        background: url('../img/bgteam.png') no-repeat;
        margin-bottom: 40px;
      }
      #team-main-wrapper {

        .team-block {
          position: relative;
          float: left;
          margin-right: 10px;
          margin-bottom: 30px;
          margin-left: 15px;
          vertical-align: top;
          width: 395px;
          height: 173px;
          background: url('../img/bgteamblock.png') no-repeat;

          img {
            position: absolute;
            top: -15px;
            left: -15px;
            width: 146px;
            height: 148px;
          }
          .text-block {
            padding-left: 140px;
            padding-top: 20px;

            .title {
              font-size: 17px;
              color: #ffffff;
              margin-bottom: 10px;
            }
            .desc {
              height: 50px;
              overflow: hidden;

              p {
                font-size: 12px;
                color: #ffffff;
              }
            }
            .more {
              margin-top: 10px;
              width: 116px;
              height: 36px;
              display: block;
              background: url('../img/bgbtnt.png') no-repeat;
              opacity: 0.9;
            }
            .more:hover {
              opacity: 1;
            }
          }
        }
      }
      a.team {
        margin-top: 20px;
        display: block;
        width: 185px;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
        background: url('../img/bgbtn3.png') no-repeat;
      }
      a.team:hover {
        opacity: 0.9;
      }
    }
  }
  footer {
    position: relative;
    min-height: 460px;
    padding-top: 52px;
    padding-bottom: 70px;

    #logobottom {
      display: block;
      width: 520px;
      height: 200px;
      background: url('../img/logo.png') no-repeat;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 43px;
    }
    .social {
      position: absolute;
      top: 220px;
      left: 673px;

      a {
        display: inline-block;
        vertical-align: top;
        margin-right: 1px;
        width: 32px;
        height: 32px;
        opacity: 0.9;
      }
      a:hover {
        opacity: 1;
      }
      .vk {
        background: url('../img/vk.png') no-repeat;}
      .od {
        background: url('../img/od.png') no-repeat;}
      .fb {
        background: url('../img/fb.png') no-repeat;}
      .tw {
        background: url('../img/tw.png') no-repeat;}
      .gp {
        background: url('../img/gp.png') no-repeat;}
      .email {
        background: url('../img/email.png') no-repeat;}
    }
    #menubottom-1 {
      float: left;
      margin-left: 170px;

      .title {
        font-size: 16px;
        color: #033b58;
        margin-bottom: 10px;
      }

      ul {

        li {
          margin-bottom: 6px;

          a {
            font-size: 12px;
            color: #066697;
          }
          a:hover, a.current {
            color: #cc1c1c;
          }
        }
      }
    }
    #menubottom-2 {
      float: left;
      margin-left: 78px;

      .title {
        font-size: 16px;
        color: #033b58;
        margin-bottom: 10px;
      }

      ul {
        display: inline-block;
        vertical-align: top;
        margin-right: 30px;
        width: 220px;

        li {
          margin-bottom: 6px;

          a {
            font-size: 12px;
            color: #066697;
          }
          a:hover, a.current {
            color: #cc1c1c;
          }
        }
      }
    }
    #hodlogo {
      float: left;
      display: block;
      width: 96px;
      height: 64px;
      margin-left: 70px;
      background: url('../img/hodlogo.png') no-repeat;
      margin-top: 33px;
    }
    #copyrights {
      text-align: center;
      margin-top: 45px;

      p {
        font-size: 12px;
        color: #066697;
      }
    }
  }
}